@{
    ViewData["Title"] = "Home Page"; // Set the title of the page
}

<div class="container">
    <h1>@ViewData["Message"]</h1>
    <p>Welcome to the Comic System! Browse comic books, register customers, and more!</p>
</div>
